body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: black;
}

body {
  padding: 180px 0 100px 0;
  background-image: url(../fig/piza.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}
